<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8" />
        <meta content = "width=device-width, initial-scale=1.0"
              name = "viewport" >
        <title>@ViewBag.Title - Kingsport Mill Safety Training</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        
        @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
        {
            <style>
                body {
                    padding-top: 101px;
                }
            </style>
        }

    </head>
    <body>
        <div class = "navbar navbar-fixed-top navbar-inverse" >
            <div class = "container" >
                <div class = "navbar-header" >
                    <button class = "navbar-toggle"
                            data-target = ".navbar-collapse"
                            data-toggle = "collapse"
                            type = "button" >
                        <span class = "icon-bar" ></span>
                        <span class = "icon-bar" ></span>
                        <span class = "icon-bar" ></span>
                    </button>
                    @Html.ActionLink("Kingsport Mill Safety Training", "Index", "Home", new
                    {
                        area = ""
                    }, new
                    {
                        @class = "navbar-brand"
                    })
                </div>
                <div class = "collapse navbar-collapse" >
                    <ul class = "nav navbar-nav" >
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
                @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
                {
                    <div class = "collapse navbar-collapse"
                         id = "navbar" >
                        <ul class = "nav navbar-nav" >
                            <li>
                                <a aria-expanded = "false"
                                   aria-haspopup = "true"
                                   class = "dropdown-toggle"
                                   data-toggle = "dropdown"
                                   href = "#"
                                   role = "button" >
                                    Categories <span class = "caret" ></span>
                                </a>
                                <ul class = "dropdown-menu" >
                                    <li>
                                        @Html.ActionLink("View All", "Index", "Categories")
                                    </li>
                                    <li class = "divider"
                                        role = "separator" >
                                    </li>
                                    <li class = "dropdown-header" >Actions</li>
                                    <li>
                                        @Html.ActionLink("Create", "Create", "Categories")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Reorder", "Reorder", "Categories")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Assign Roles", "AssignRoles", "Categories")
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a aria-expanded = "false"
                                   aria-haspopup = "true"
                                   class = "dropdown-toggle"
                                   data-toggle = "dropdown"
                                   href = "#"
                                   role = "button" >
                                    Roles <span class = "caret" ></span>
                                </a>
                                <ul class = "dropdown-menu" >
                                    <li>
                                        @Html.ActionLink("View All", "Index", "Roles")
                                    </li>
                                    <li class = "divider"
                                        role = "separator" >
                                    </li>
                                    <li class = "dropdown-header" >Actions</li>
                                    <li>
                                        @Html.ActionLink("Create", "Create", "Roles")
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a aria-expanded = "false"
                                   aria-haspopup = "true"
                                   class = "dropdown-toggle"
                                   data-toggle = "dropdown"
                                   href = "#"
                                   role = "button" >
                                    Slides <span class = "caret" ></span>
                                </a>
                                <ul class = "dropdown-menu" >
                                    <li>
                                        @Html.ActionLink("View All", "Index", "Slides")
                                    </li>
                                    <li class = "divider"
                                        role = "separator" >
                                    </li>
                                    <li class = "dropdown-header" >Actions</li>
                                    <li>
                                        @Html.ActionLink("Create", "Create", "Slides")
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class = "nav navbar-nav navbar-right" >
                            <li>
                                @Html.ActionLink("Select Role", "SelectRole", "Roles")
                            </li>
                            <li>
                                @Html.ActionLink("View Slideshow", "Slideshow", "Slides")
                            </li>
                        </ul>
                    </div>
                }

            </div>
        </div>
        <div class = "body-content container" >
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Kingsport Mill Safety Training</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", false)
    </body>
</html>