@using MichaelBrandonMorris.Extensions.Web.HtmlHelper
@using MichaelBrandonMorris.Math
@model MichaelBrandonMorris.KingsportMillSafetyTraining.Models.AssignCategoriesViewModel

@{
    ViewBag.Title = "Assign Categories";
    Layout = Url.Content("~/Views/Shared/_Layout.cshtml");
}

@using (Html.BeginForm())
{
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                @foreach (var role in Model.Groups)
                {
                    <th>@Html.DisplayFor(modelRole => role.Title)</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model.Categories)
            {
                <tr>
                    @foreach (var role in Model.Groups)
                    {
                        <td>
                            <div class="checkbox">
                                <label>
                                    <input name="model"
                                           type="checkbox"
                                           value="@Cantor.Pair(role.Id, category.Id)"
                                           @Html.Attribute("checked", "checked", category.Groups.Contains(role))/>
                                    @Html.DisplayFor(modelCategoryViewModel => category.Name)
                                </label>
                            </div>

                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

    <input class="btn btn-primary"
           type="submit"
           value="Save Changes"/>
    @Html.ActionLink("Cancel", "Index", null, new
    {
        @class = "btn btn-danger"
    })
}