@using MichaelBrandonMorris.Extensions.Web.HtmlHelper.Bootstrap
@using MichaelBrandonMorris.Extensions.Web.HtmlHelper.Bootstrap.Display
@using MichaelBrandonMorris.Extensions.Web.HtmlHelper.Bootstrap.Form
@using MichaelBrandonMorris.Extensions.Web.HtmlHelper.Bootstrap.Form.Horizontal
@model MichaelBrandonMorris.KingsportMillSafetyTraining.Models.ChangePasswordViewModel

@{
    Layout = Url.Content("~/Views/Shared/_Layout.cshtml");
    ViewBag.Title = "Change Password";
    ViewBag.Subtitle = "User";
}

<p class="bg-info">
    You are changing the password for @Html.DisplayFor(model => model.Email).
</p>

@using (Html.BeginForm("ChangePassword", "Users", FormMethod.Post, new
{
    @class = "form-horizontal", role = "form"
}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.UserId)
    @Html.HiddenFor(model => model.Email)
    @Html.BootstrapHorizontalPasswordFor(model => model.Password)
    @Html.BootstrapHorizontalPasswordFor(model => model.ConfirmPassword)
    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            @Html.BootstrapSubmit("Change Password", ContextualColor.Primary)
            @Html.BootstrapActionLinkButton("Cancel", "Index", ContextualColor.Danger)
        </div>
    </div>
}