@using MichaelBrandonMorris.Extensions.Web.HtmlHelper.Bootstrap
@using MichaelBrandonMorris.Extensions.Web.HtmlHelper.Bootstrap.Display
@using MichaelBrandonMorris.Extensions.Web.HtmlHelper.Bootstrap.Form
@using MichaelBrandonMorris.Extensions.Web.HtmlHelper.Bootstrap.Form.Horizontal
@model MichaelBrandonMorris.KingsportMillSafetyTraining.Models.ChangeRoleViewModel

@{
    Layout = Url.Content("~/Views/Shared/_Layout.cshtml");
    ViewBag.Title = "Change Role";
}

@Html.DisplayFor(model => model.Name)

@using (Html.BeginForm())
{   
    <div class="form-horizontal">
        @Html.HiddenFor(model => model.UserId)
        <div ></div>
        @Html.BootstrapHorizontalDropDownListFor(model => model.RoleName, Model.RoleSelectList, "Select a role...")
        <div class="form-group">
            <div class="col-md-offset-2">
                @Html.BootstrapSubmit("Submit", ContextualColor.Primary)
                @Html.BootstrapActionLinkButton("Cancel", "Index", ContextualColor.Danger)
            </div>
        </div>
    </div> 
}

