@using MichaelBrandonMorris.Extensions.Web.HtmlHelper.Bootstrap
@using MichaelBrandonMorris.Extensions.Web.HtmlHelper.Bootstrap.Form
@using MichaelBrandonMorris.Extensions.Web.HtmlHelper.Bootstrap.Form.Horizontal
@model MichaelBrandonMorris.KingsportMillSafetyTraining.Models.UserViewModel

@{
    ViewBag.Title = "Edit";
    ViewBag.Subtitle = "User";
}

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        @Html.BootstrapHorizontalTextBoxFor(model => model.FirstName, true)
        @Html.BootstrapHorizontalTextBoxFor(model => model.MiddleName)
        @Html.BootstrapHorizontalTextBoxFor(model => model.LastName, true)
        @Html.BootstrapHorizontalDropDownListFor(model => model.CompanyId, Model.CompanyIdSelectList, "Select a company...")
        @Html.BootstrapHorizontalTextBoxFor(model => model.OtherCompanyName)
        @Html.BootstrapHorizontalTextBoxFor(model => model.Email, true)
        @Html.BootstrapHorizontalTextBoxFor(model => model.PhoneNumber, true)

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                @Html.BootstrapSubmit("Save", BootstrapContextualClass.Primary)
                @Html.BootstrapActionLinkButton("Cancel", "Index", BootstrapContextualClass.Danger)
            </div>
        </div>
    </div>
}