@model IList<MichaelBrandonMorris.KingsportMillSafetyTraining.Models.Identity.ViewModels.Result.TrainingResultViewModel>

@{
    ViewBag.Title = "Training Results";
}

<h2>Training Results</h2>
<hr />

<dl class = "dl-horizontal" >
    <dt>
        @Html.DisplayNameFor(model => Model.First().FirstName)
    </dt>

    <dd>
        @Html.DisplayFor(model => Model.First().FirstName)
    </dd>

    <dt>
        @Html.DisplayFor(model => Model.First().LastName)
    </dt>

    <dd>
        @Html.DisplayFor(model => Model.First().LastName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => Model.First().CompanyName)
    </dt>

    <dd>
        @Html.DisplayFor(model => Model.First().CompanyName)
    </dd>
</dl>

<table class = "table table-striped" >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => Model.First().RoleTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.First().CompletionDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.First().TimeToComplete)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.First().QuizAttemptsCount)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompletionDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeToComplete)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuizAttemptsCount)
                </td>
                <td>
                    @Html.ActionLink("Details", "TrainingResult", new
                    {
                        id = item.Id
                    })
                </td>
            </tr>
        }
    </tbody>
</table>