@model MichaelBrandonMorris.KingsportMillSafetyTraining.Models.Identity.ViewModels.Result.TrainingResultViewModel

@{
    ViewBag.Title = "Training Result";
}

<h2>@ViewBag.Title</h2>
<hr/>
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.FirstName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.FirstName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.LastName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.LastName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.CompanyName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.CompanyName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.RoleTitle)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.RoleTitle)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.CompletionDateTime)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.CompletionDateTime)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.TimeToComplete)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.TimeToComplete)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.QuizAttemptsCount)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.QuizAttemptsCount)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.QuizResults)
    </dt>

    <dd>
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>
                    Attempt #
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QuizResults.Single().QuestionsCorrect)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QuizResults.Single().TotalQuestions)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QuizResults.Single().Score)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QuizResults.Single().TimeToComplete)
                </th>
            </tr>
            </thead>
            <tbody>
            @{
                var i = 1;
            }
            @foreach (var quizResult in Model.QuizResults)
            {
                <tr>
                    <td>
                        @i
                    </td>
                    <td>
                        @Html.DisplayFor(modelQuizResult => quizResult.QuestionsCorrect)
                    </td>
                    <td>
                        @Html.DisplayFor(modelQuizResult => quizResult.TotalQuestions)
                    </td>
                    <td>
                        @Html.DisplayFor(modelQuizResult => quizResult.Score)
                    </td>
                    <td>
                        @Html.DisplayFor(modelQuizResult => quizResult.TimeToComplete)
                    </td>
                </tr>
                i++;
            }
            </tbody>
        </table>
    </dd>
</dl>

<p>
    @Html.ActionLink("View User's Results", "TrainingResults", new
    {
        id = Model.UserId
    }) |
    @Html.ActionLink("View All Users", "Index")
</p>