@using MichaelBrandonMorris.Extensions.Web.HtmlHelper.Bootstrap
@using MichaelBrandonMorris.Extensions.Web.HtmlHelper.Bootstrap.Display
@using MichaelBrandonMorris.Extensions.Web.HtmlHelper.Bootstrap.Form.Horizontal
@model MichaelBrandonMorris.KingsportMillSafetyTraining.Models.Identity.Account.LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="row">
    <div class="col-md-12">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new
            {
                ViewBag.ReturnUrl
            }, FormMethod.Post, new
            {
                @class = "form-horizontal", role = "form"
            }))
            {
                @Html.AntiForgeryToken()
                @Html.BootstrapHorizontalTextBoxFor(model => model.Email, true)
                @Html.BootstrapHorizontalPasswordFor(model => model.Password)
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                @Html.BootstrapHorizontalSubmit("Log in", ContextualColor.Primary)
                <p>
                    @Html.BootstrapActionLinkButton("Register", ContextualColor.Primary)
                </p>
            }
        </section>
    </div>
</div>