@using MichaelBrandonMorris.Extensions.Web.HtmlHelper.Bootstrap
@using MichaelBrandonMorris.Extensions.Web.HtmlHelper.Bootstrap.Form.Horizontal
@model MichaelBrandonMorris.KingsportMillSafetyTraining.Models.Identity.Account.RegisterViewModel

@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title</h2>
<h4>Create a new account.</h4>
<hr/>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new
{
    @class = "form-horizontal", role = "form"
}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, null, new
    {
        @class = "text-danger"
    })
    @Html.BootstrapHorizontalTextBoxFor(model => model.FirstName, true, "given-name")
    @Html.BootstrapHorizontalTextBoxFor(model => model.MiddleName, false, "additional-name")
    @Html.BootstrapHorizontalTextBoxFor(model => model.LastName, true, "family-name")
    @Html.BootstrapHorizontalDropDownListFor(model => model.CompanyId, Model.CompanySelectList, "Select a company...")

    <p class="bg-info col-md-offset-2 col-md-10">
        If you selected "Other" above, please enter the name of your company below. Otherwise, leave this field blank.
    </p>

    @Html.BootstrapHorizontalTextBoxFor(model => model.OtherCompanyName)
    @Html.BootstrapHorizontalTextBoxFor(model => model.PhoneNumber, true, "tel-national")
    @Html.BootstrapHorizontalTextBoxFor(model => model.Email, true, "email")
    @Html.BootstrapHorizontalPasswordFor(model => model.Password, "new-password")
    @Html.BootstrapHorizontalPasswordFor(model => model.ConfirmPassword, "new-password")
    @Html.BootstrapHorizontalSubmit("Register", ContextualColor.Primary)
}
