@using MichaelBrandonMorris.Extensions.Web.HtmlHelper
@using MichaelBrandonMorris.Extensions.Web.HtmlHelper.Bootstrap.Form.Horizontal
@model MichaelBrandonMorris.KingsportMillSafetyTraining.Models.SlideViewModel

@Html.ValidationSummary(true, "", new
{
    @class = "text-danger"
})

@Html.HiddenFor(model => model.Id)
@Html.BootstrapHorizontalDropDownListFor(model => model.CategoryId, Model.CategorySelectList, "Select a category...")
@Html.BootstrapHorizontalTextBoxFor(model => model.Title, true)
@Html.BootstrapHorizontalCkeditorFor(model => model.Content)

<div class="form-group">
    @Html.LabelFor(model => model.Image, new
    {
        @class = "control-label col-md-2"
    })
    <div class="col-md-10">
        @Html.HiddenFor(model => model.ImageBytes)
        @if (Model.ImageBytes != null)
        {
            <img src="@Url.Action("RenderImage", new
                      {
                          id = Model.Id
                      })"
                 alt="@Model.ImageDescription"/>
            <br />
        }
        <label class="btn btn-primary">
            <input id="file-upload"name="Image"
                   type="file"
                   style="display: none;"/>
            Upload Image...
        </label>
        <span id="file-selected"></span>
        @Html.ValidationMessageFor(model => model.Image, "", new
        {
            @class = "text-danger"
        })
    </div>
</div>

@Html.BootstrapHorizontalTextBoxFor(model => model.ImageDescription)
@Html.BootstrapHorizontalTextBoxFor(model => model.Question)

<div class="form-group">
    @Html.LabelFor(model => model.ShouldShowSlideInSlideshow, new
    {
        @class = "control-label col-md-2"
    })
    <div class="col-md-10">
        <div class="checkbox">
            @Html.EditorFor(model => model.ShouldShowSlideInSlideshow)
            @Html.ValidationMessageFor(model => model.ShouldShowSlideInSlideshow, "", new
            {
                @class = "text-danger"
            })
        </div>
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ShouldShowQuestionOnQuiz, new
    {
        @class = "control-label col-md-2"
    })
    <div class="col-md-10">
        <div class="checkbox">
            @Html.EditorFor(model => model.ShouldShowQuestionOnQuiz)
            @Html.ValidationMessageFor(model => model.ShouldShowQuestionOnQuiz, "", new
            {
                @class = "text-danger"
            })
        </div>
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ShouldShowImageOnQuiz, new
    {
        @class = "control-label col-md-2"
    })
    <div class="col-md-10">
        <div class="checkbox">
            @Html.EditorFor(model => model.ShouldShowImageOnQuiz)
            @Html.ValidationMessageFor(model => model.ShouldShowImageOnQuiz, "", new
            {
                @class = "text-danger"
            })
        </div>
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Answers, new
    {
        @class = "control-label col-md-2"
    })
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-10"
                 id="answers-list">
                @Html.EditorForMany(model => model.Answers)
            </div>
            <div class="col-md-2 text-right">
                <button class="btn btn-primary"
                        id="add-answer"
                        type="button">
                    Add New Answer
                </button>
            </div>
        </div>
        @Html.ValidationMessageFor(model => model.Answers, "", new
        {
            @class = "text-danger"
        })
    </div>
</div>