@using MichaelBrandonMorris.Extensions.Web.HtmlHelper
@using MichaelBrandonMorris.Math
@model MichaelBrandonMorris.KingsportMillSafetyTraining.Models.AssignGroupsViewModel

@{
    ViewBag.Title = "Assign Groups";
    Layout = Url.Content("~/Views/Shared/_Layout.cshtml");
}

@using (Html.BeginForm())
{
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                @foreach (var category in Model.Categories)
                {
                    <th>@Html.DisplayFor(modelCategory => category.Title)</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var groupViewModel in Model.GroupViewModels)
            {
                <tr>
                    @foreach (var category in Model.Categories)
                    {
                        <td>
                            <div class="checkbox">
                                <label>
                                    <input name="categoryGroups"
                                           type="checkbox"
                                           value="@Cantor.Pair(category.Id, groupViewModel.Id)"
                                           @Html.Attribute("checked", "checked", groupViewModel.Categories.Contains(category))/>
                                    @Html.DisplayFor(modelRoleViewModel => groupViewModel.Title)
                                </label>
                            </div>

                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

    <input class="btn btn-primary"
           type="submit"
           value="Submit"/>
    @Html.ActionLink("Cancel", "Index", null, new
    {
        @class = "btn btn-danger"
    })
}