@using MichaelBrandonMorris.Extensions.WebExtensions
@using MichaelBrandonMorris.Math
@model MichaelBrandonMorris.KingsportMillSafetyTraining.Models.AssignRolesViewModel

@{
    ViewBag.Title = "Assign Roles";
    Layout = Url.Content("~/Views/Shared/_Layout.cshtml");
}

@using (Html.BeginForm())
{
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                @foreach (var category in Model.Categories)
                {
                    <th>@Html.DisplayFor(category.Title)</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var roleViewModel in Model.RoleViewModels)
            {
                <tr>
                    @foreach (var category in Model.Categories)
                    {
                        <td>
                            <div class="checkbox">
                                <label>
                                    <input name="categoryRoles"
                                           type="checkbox"
                                           value="@Cantor.Pair(category.Id, roleViewModel.Id)"
                                           @Html.Attribute("checked", "checked", roleViewModel.Categories.Contains(category))/>
                                    @Html.DisplayFor(modelCategoryViewModel => roleViewModel.Title)
                                </label>
                            </div>

                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

    <input class="btn btn-primary"
           type="submit"
           value="Submit"/>
    @Html.ActionLink("Cancel", "Index", null, new
    {
        @class = "btn btn-danger"
    })
}