@using MichaelBrandonMorris.Extensions.Web.HtmlHelper.Bootstrap
@model MichaelBrandonMorris.KingsportMillSafetyTraining.Models.CategoryViewModel

@{
    ViewBag.Title = "Details";
    ViewBag.Subtitle = "Category";
    Layout = Url.Content("~/Views/Shared/_Layout.cshtml");
}

@Html.DisplayForModel(Model)

<div>
    @Html.BootstrapActionLinkButton("Edit", "Edit", new
    {
        id = Model.Id
    }, BootstrapContextualClass.Primary)
    @Html.BootstrapActionLinkButton("Assign Groups", "AssignGroups", new
    {
        id = Model.Id
    }, BootstrapContextualClass.Primary)
    @Html.BootstrapActionLinkButton("Reorder Slides", "Reorder", "Slides", new
    {
        id = Model.Id
    }, BootstrapContextualClass.Primary)
    @Html.BootstrapActionLinkButton("Delete", "Delete", new
    {
        id = Model.Id
    }, BootstrapContextualClass.Danger)
</div>
<div class="pull-right">
    @Html.BootstrapActionLinkButton("View All Categories", "Index", BootstrapContextualClass.Primary)
</div>