@using MichaelBrandonMorris.Extensions.Web.HtmlHelper.Bootstrap
@using MichaelBrandonMorris.Extensions.Web.HtmlHelper.Bootstrap.Display
@model MichaelBrandonMorris.KingsportMillSafetyTraining.Db.Models.Category

@{
    ViewBag.Title = "Details";
    Layout = Url.Content("~/Views/Shared/_Layout.cshtml");
}

<h2>Details</h2>
<h4>Category</h4>
<hr/>

@Html.DisplayForModel(Model)

<div class="pull-left">
    @Html.BootstrapActionLinkButton("Edit", Model.Id, ContextualColor.Primary)
    @Html.BootstrapActionLinkButton("Assign Groups", "AssignGroups", Model.Id, ContextualColor.Primary)
    @Html.BootstrapActionLinkButton("Reorder Slides", "Reorder", "Slides", Model.Id, ContextualColor.Primary)
    @Html.BootstrapActionLinkButton("Delete", "Delete", new
    {
        id = Model.Id
    }, ContextualColor.Danger)
</div>
<div class="pull-right">
    @Html.BootstrapActionLinkButton("View All Categories", "Index", ContextualColor.Primary)
</div>
<div class="clearfix"></div>