@using MichaelBrandonMorris.Extensions.Web.HtmlHelper.Bootstrap
@using MichaelBrandonMorris.Extensions.Web.HtmlHelper.Bootstrap.Form
@model MichaelBrandonMorris.KingsportMillSafetyTraining.Models.CategoryViewModel

@{
    ViewBag.Title = "Edit";
    ViewBag.Subtitle = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.HiddenFor(model => model.Id)
        @Html.EditorForModel(Model)

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                @Html.BootstrapSubmit("Save", BootstrapContextualClass.Primary)
                @Html.BootstrapActionLinkButton("Cancel", "Index", null, BootstrapContextualClass.Danger)
            </div>
        </div>
    </div>
}
