@model IEnumerable<MichaelBrandonMorris.KingsportMillSafetyTraining.Models.Data.ViewModels.CategoryViewModel>

@{
    ViewBag.Title = "Categories";
    Layout = Url.Content("~/Views/Shared/_Layout.cshtml");
}

<p>
    @Html.ActionLink("Create New", "Create") |
    @Html.ActionLink("Reorder", "Reorder", "Categories") |
    @Html.ActionLink("Assign Roles", "AssignRoles", "Categories")
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slides)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roles)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @item.Slides.Count
                </td>
                <td>
                    <ul>
                        @foreach (var role in item.Roles)
                        {
                            <li>@Html.DisplayFor(itemRole => role.Title)</li>
                        }
                    </ul>
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new
                    {
                        id = item.Id
                    })
                    <br/>
                    @Html.ActionLink("Details", "Details", new
                    {
                        id = item.Id
                    })
                    <br/>
                    @Html.ActionLink("Delete", "Delete", new
                    {
                        id = item.Id
                    })
                    <br/>
                    @Html.ActionLink("Assign Roles", "AssignRoles", new
                    {
                        id = item.Id
                    })
                </td>
            </tr>
        }
    </tbody>
</table>