@model IList<MichaelBrandonMorris.KingsportMillSafetyTraining.Models.Data.Category>

@{
    ViewBag.Title = "Reorder";
    ViewBag.Subtitle = "Categories";
    Layout = Url.Content("~/Views/Shared/_Layout.cshtml");
}

@using (Html.BeginForm())
{
    <table class="table table-condensed table-hover table-striped"
           id="sort">
        <thead>
        <tr>
            <th>
                Drag to Reorder
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Single().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Single().Description)
            </th>
        </tr>
        </thead>
        <tbody>
        @for (var i = 0; i < Model.Count; i++)
        {
            <tr>
                <td class="index">
                    &#8597;
                    @Html.HiddenFor(model => Model[i].Id)
                    @Html.HiddenFor(model => Model[i].Index, new
                    {
                        htmlAttributes = new
                        {
                            name = string.Format("slides[{0}].Index", i), @readonly = true
                        }
                    })
                </td>
                <td>
                    @Html.DisplayFor(m => Model[i].Title)
                </td>
                <td>
                    @Html.DisplayFor(model => Model[i].Description)
                </td>
            </tr>
        }
        </tbody>
    </table>

    <input class="btn btn-default"
           type="submit"
           value="Save Order"/>
    <button class="btn btn-default"
            onclick="location.href = '@Url.Action("Index")';return false;">
        Cancel
    </button>
}

@section scripts
{
    <script>
        $(function() {
            $('#sort tbody').sortable({
                stop: function() {
                    $("#sort tbody tr").each(function(index, element) {
                        var hiddenInput = $(element).children(".index").children().last();
                        hiddenInput.val(index);
                    });
                }
            });
        });

        $('td, th', '#sort').each(function() {
            var cell = $(this);
            cell.width(cell.width());
        });
    </script>
}