@model MichaelBrandonMorris.KingsportMillSafetyTraining.Models.SlideViewModel

@{
    ViewBag.Title = "Create";
    ViewBag.Subtitle = "Slide";
    Layout = Url.Content("~/Views/Shared/_Layout.cshtml");
}

@using (Html.BeginForm(null, null, FormMethod.Post, new
{
    enctype = "multipart/form-data"
}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.EditorForModel(Model)
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <input class="btn btn-primary"
                       type="submit"
                       value="Create"/>
                @Html.ActionLink("Cancel", "Index", null, new
                {
                    @class = "btn btn-danger"
                })
            </div>
        </div>
    </div>
}

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function($) {
            $("#add-answer").on('click',
                function() {
                    $.get("@Url.Action("AddAnswer")").done(function(html) {
                        $("#answers-list").append(html);
                    });
                });
        });

        var s = "input[name=CorrectAnswerId][value=";

        $(document).ready(function() {
            $(s + @Model.CorrectAnswerIndex + "]").prop("checked", true);
        });

        function removeAnswer(answerIndex) {
            $("#answer-" + answerIndex).remove();
        }

        $('#file-upload').bind('change',
            function() {
                var fileName = $(this).val();
                $('#file-selected').html(fileName.substring(fileName.lastIndexOf('\\') + 1));
            });
    </script>
}