@model MichaelBrandonMorris.KingsportMillSafetyTraining.Models.Data.ViewModels.SlideViewModel

@{
    ViewBag.Title = "Create";
    ViewBag.Subtitle = "Slide";
    Layout = Url.Content("~/Views/Shared/_Layout.cshtml");
}

@using (Html.BeginForm(null, null, FormMethod.Post, new
{
    enctype = "multipart/form-data"
}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.EditorForModel(Model)
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <input class="btn btn-default"
                       type="submit"
                       value="Create"/>
                <button class="btn btn-default"
                        onclick="location.href = '@Url.Action("Index")';return false;">
                    Cancel
                </button>
            </div>
        </div>
    </div>
}

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function($) {
            $("#add-answer").on('click',
                function() {
                    $.get("@Url.Action("AddAnswer")").done(function(html) {
                        $("#answers-list").append(html);
                    });
                });
        });

        var s = "input[name=CorrectAnswerId][value=";

        $(document).ready(function() {
            $(s + @Model.CorrectAnswerIndex + "]").prop("checked", true);
        });

        function removeAnswer(answerIndex) {
            $("#answer-" + answerIndex).remove();
        }
    </script>
}