@using MichaelBrandonMorris.Extensions.Web.HtmlHelper.Bootstrap
@model MichaelBrandonMorris.KingsportMillSafetyTraining.Models.SlideViewModel

@{
    ViewBag.Title = "Details";
    ViewBag.Subtitle = "Slide";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.DisplayForModel(Model)
</div>

<div class="row">
    <div class="col-md-6">
        @Html.BootstrapActionLinkButton("Edit", Model.Id, BootstrapContextualClass.Primary)
        @Html.BootstrapActionLinkButton("View", Model.Id, BootstrapContextualClass.Primary, TargetAttribute.Blank)
        @Html.BootstrapActionLinkButton("Delete", Model.Id, BootstrapContextualClass.Danger)
    </div>
    <div class="col-md-6" style="text-align: right;">
        @Html.BootstrapActionLinkButton("Index", BootstrapContextualClass.Primary)
    </div>
</div>
