@model MichaelBrandonMorris.KingsportMillSafetyTraining.Models.SlideViewModel

@{
    ViewBag.Title = "Edit";
    Layout = Url.Content("~/Views/Shared/_Layout.cshtml");
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class = "form-horizontal" >
        <h4>Slide</h4>
        <hr />

        @Html.EditorFor(x => x)

        <div class = "form-group" >
            <div class = "col-md-10 col-md-offset-2" >
                <input class = "btn btn-default"
                       type = "submit"
                       value = "Save" />
                <button class = "btn btn-default"
                        onclick = "location.href = '@Url.Action("Index")';return false;" >
                    Cancel
                </button>
            </div>
        </div>
    </div>
}

@section Scripts 
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function($) {
            $("#add-answer").on('click',
                function() {
                    $.get(
                        '/Slides/AddAnswer').done(function(html) {
                        $("#answers-list").append(html);
                    });
                });
        });

        var s = "input[name=CorrectAnswerId][value=";

        $(document).ready(function() {
            $(s + @Model.CorrectAnswerIndex + "]").prop("checked", true);
        });

        function removeAnswer(answerIndex) {
            $("#answer-" + answerIndex).remove();
        }
    </script>
}