@using MichaelBrandonMorris.Extensions.OtherExtensions
@model IList<MichaelBrandonMorris.KingsportMillSafetyTraining.Models.SlideViewModel>

@{
    Layout = Url.Content("~/Views/Shared/_Layout.cshtml");
    ViewBag.Title = "Slides";
}

<p>
    @Html.ActionLink("Create New", "Create", null, new
    {
        @class = "btn btn-primary"
    })
    @Html.ActionLink("Reorder", "Reorder", null, new
    {
        @class = "btn btn-primary"
    })
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(x => Model.Single().CategoryTitle)
            </th>
            <th>
                @Html.DisplayNameFor(x => Model.Single().Title)
            </th>
            <th>
                @Html.DisplayNameFor(x => Model.Single().ImageBytes)
            </th>
            <th>
                @Html.DisplayNameFor(x => Model.Single().ShouldShowSlideInSlideshow)
            </th>
            <th>
                @Html.DisplayNameFor(x => Model.Single().ShouldShowQuestionOnQuiz)
            </th>
            <th>
                @Html.DisplayNameFor(x => Model.Single().ShouldShowImageOnQuiz)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    @{
        int rowCount;
    }
    @for (var i = 0; i < Model.Count; i += rowCount)
    {
        var j = i;

        while (Model[i].CategoryTitle == Model[j].CategoryTitle
               && ++j < Model.Count)
        {
        }

        rowCount = j - i;

        for (var k = i; k < j; k++)
        {
            <tr>
                @if (k == i)
                {
                    <td class="rowspan"
                        rowspan="@rowCount">
                        @Html.DisplayFor(Model[k].CategoryTitle)
                        <br/>
                        @Html.ActionLink("Details", "Details", "Categories", new
                        {
                            id = Model[k].CategoryId
                        }, new
                        {
                            @class = "btn btn-primary"
                        })
                        <br/>
                        @Html.ActionLink("Reorder Slides", "Reorder", new
                        {
                            categoryId = Model[k].CategoryId
                        }, new
                        {
                            @class = "btn btn-primary"
                        })
                    </td>
                }
                <td>
                    @Html.DisplayFor(Model[k].Title)
                </td>
                <td>
                    <img src="@Url.Action("RenderImage", new
                              {
                                  id = Model[k].Id
                              })"
                         alt="@Model[k].ImageDescription"/>
                </td>
                <td>
                    @Html.DisplayFor(Model[k].ShouldShowSlideInSlideshow)
                </td>
                <td>
                    @Html.DisplayFor(Model[k].ShouldShowQuestionOnQuiz)
                </td>
                <td>
                    @Html.DisplayFor(Model[k].ShouldShowImageOnQuiz)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new
                    {
                        id = Model[k].Id
                    }, new
                    {
                        @class = "btn btn-primary"
                    })
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new
                    {
                        id = Model[k].Id
                    }, new
                    {
                        @class = "btn btn-primary"
                    })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new
                    {
                        id = Model[k].Id
                    }, new
                    {
                        @class = "btn btn-danger"
                    })
                </td>
            </tr>
        }
    }
</table>