@using MichaelBrandonMorris.Extensions.OtherExtensions
@model IList<MichaelBrandonMorris.KingsportMillSafetyTraining.Models.Data.ViewModels.SlideViewModel>

@{
    Layout = Url.Content("~/Views/Shared/_Layout.cshtml");
    ViewBag.Title = "Slides";
}

<h2>Slides</h2>

<p>
    @Html.ActionLink("Create New", "Create") | @Html.ActionLink("Reorder", "Reorder")
</p>

<table class = "table table-bordered table-striped" >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(x => Model.Single().CategoryTitle)
            </th>
            <th>
                @Html.DisplayNameFor(x => Model.Single().Title)
            </th>
            <th>
                @Html.DisplayNameFor(x => Model.Single().Content)
            </th>
            <th>
                @Html.DisplayNameFor(x => Model.Single().ImageBytes)
            </th>
            <th>
                @Html.DisplayNameFor(x => Model.Single().ImageDescription)
            </th>
            <th>
                @Html.DisplayNameFor(x => Model.Single().ShouldShowSlideInSlideshow)
            </th>
            <th>
                @Html.DisplayNameFor(x => Model.Single().ShouldShowQuestionOnQuiz)
            </th>
            <th>
                @Html.DisplayNameFor(x => Model.Single().ShouldShowImageOnQuiz)
            </th>
            <th>
                @Html.DisplayNameFor(x => Model.Single().Question)
            </th>
            <th>
                @Html.DisplayNameFor(x => Model.Single().Answers)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    @{
        int rowCount;
    }
    @for (var i = 0; i < Model.Count; i += rowCount)
    {
        var j = i;

        while (Model[i].CategoryTitle == Model[j].CategoryTitle && ++j < Model.Count)
        {
        }

        rowCount = j - i;

        for (var k = i; k < j; k++)
        {
            <tr>
                @if (k == i)
                {
                    <td rowspan = "@rowCount" >
                        @Html.DisplayFor(Model[k].CategoryTitle)
                        @Html.ActionLink("Reorder", "Reorder", new
                        {
                            categoryId = Model[k].CategoryId
                        })
                    </td>
                }
                <td>
                    @Html.DisplayFor(Model[k].Title)
                </td>
                <td>
                    @Html.DisplayFor(Model[k].Content)
                </td>
                <td>
                    <img src = "@Url.Action("RenderImage", new
                                {
                                    id = Model[k].Id
                                })"
                         alt = "@Model[k].ImageDescription" />
                </td>
                <td>
                    @Html.DisplayFor(Model[k].ImageDescription)
                </td>
                <td>
                    @Html.DisplayFor(Model[k].ShouldShowSlideInSlideshow)
                </td>
                <td>
                    @Html.DisplayFor(Model[k].ShouldShowQuestionOnQuiz)
                </td>
                <td>
                    @Html.DisplayFor(Model[k].ShouldShowImageOnQuiz)
                </td>
                <td>
                    @Html.DisplayFor(Model[k].Question)
                </td>
                <td>
                    <ul>
                        @foreach (var answer in Model[k].Answers)
                        {
                            if (Model[k].CorrectAnswerIndex == answer.Index)
                            {
                                <li class = "correct" >@answer.Title</li>
                            }
                            else
                            {
                                <li class = "incorrect" >@answer.Title</li>
                            }
                        }
                    </ul>
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new
                    {
                        id = Model[k].Id
                    })
                    <br />
                    @Html.ActionLink("Details", "Details", new
                    {
                        id = Model[k].Id
                    })
                    <br />
                    @Html.ActionLink("Delete", "Delete", new
                    {
                        id = Model[k].Id
                    })
                </td>
            </tr>
        }
    }
</table>