@using MichaelBrandonMorris.Extensions.Web.HtmlHelper.Bootstrap
@model IList<MichaelBrandonMorris.KingsportMillSafetyTraining.Models.CategoryViewModel>

@{
    Layout = Url.Content("~/Views/Shared/_Layout.cshtml");
    ViewBag.Title = "Slides";
}

<p>
    @Html.ActionLink("Create New", "Create", null, new
    {
        @class = "btn btn-primary"
    })
    @Html.ActionLink("Reorder", "Reorder", null, new
    {
        @class = "btn btn-primary"
    })
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(x => Model.Single().Slides.Single().Category)
            </th>
            <th>
                @Html.DisplayNameFor(x => Model.Single().Slides.Single().Title))
            </th>
            <th>
                @Html.DisplayNameFor(x => Model.Single().Slides.Single().ImageBytes)
            </th>
            <th>
                @Html.DisplayNameFor(x => Model.Single().Slides.Single().ShouldShowSlideInSlideshow)
            </th>
            <th>
                @Html.DisplayNameFor(x => Model.Single().Slides.Single().ShouldShowQuestionOnQuiz)
            </th>
            <th>
                @Html.DisplayNameFor(x => Model.Single().Slides.Single().ShouldShowImageOnQuiz)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    @foreach (var category in Model)
    {
        foreach (var slide in category.Slides.OrderBy(slide => slide.Index))
        {
            <tr>
                @if (slide == category.Slides.First())
                {
                    <td class="rowspan"
                        rowspan="@category.Slides.Count">
                        @Html.DisplayFor(model => category.Title)
                        <br/>
                        @Html.BootstrapActionLinkButton("Details", "Details", "Categories", new
                        {
                            id = category.Id
                        }, BootstrapContextualClass.Primary)
                        <br/>
                        @Html.BootstrapActionLinkButton("Reorder Slides", "Reorder", new
                        {
                            categoryId = category.Id
                        }, BootstrapContextualClass.Primary)
                    </td>
                }
                <td>
                    @Html.DisplayFor(model => slide.Title)
                </td>
                <td>
                    @if (slide.ImageBytes != null)
                    {
                        <img src="@Url.Action("RenderImage", new
                                  {
                                      id = slide.Id
                                  })"
                             alt="@slide.ImageDescription"/>
                    }
                </td>
                <td>
                    @Html.DisplayFor(model => slide.ShouldShowSlideInSlideshow)
                </td>
                <td>
                    @Html.DisplayFor(model => slide.ShouldShowQuestionOnQuiz)
                </td>
                <td>
                    @Html.DisplayFor(model => slide.ShouldShowImageOnQuiz)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new
                    {
                        id = slide.Id
                    }, new
                    {
                        @class = "btn btn-primary"
                    })
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new
                    {
                        id = slide.Id
                    }, new
                    {
                        @class = "btn btn-primary"
                    })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new
                    {
                        id = slide.Id
                    }, new
                    {
                        @class = "btn btn-danger"
                    })
                </td>
            </tr>
        }
    }
</table>