@using MichaelBrandonMorris.Extensions.Web.HtmlHelper.Bootstrap
@using MichaelBrandonMorris.Extensions.Web.HtmlHelper.Bootstrap.Display
@using MichaelBrandonMorris.KingsportMillSafetyTraining.Db

@model IList<MichaelBrandonMorris.KingsportMillSafetyTraining.Models.CategoryViewModel>

@{
    Layout = Url.Content("~/Views/Shared/_Layout.cshtml");
    ViewBag.Title = "Slides";
}

<p class="pull-left">
    @Html.BootstrapActionLinkButton("Create", "Create", ContextualColor.Primary)
    @Html.BootstrapActionLinkButton("Reorder", "Reorder", ContextualColor.Primary)
</p>
<p class="pull-right">
    @using (var db = new KingsportMillSafetyTrainingDbContext())
    {
        foreach (var group in db.GetGroups(group => group.Index))
        {
            @Html.BootstrapActionLinkButton(group.Title, "Index", new
            {
                id = group.Id
            }, ContextualColor.Primary)
            <span>&nbsp;</span>
        }
    }
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(x => Model.Single().Slides.Single().Category)
            </th>
            <th>
                @Html.DisplayNameFor(x => Model.Single().Slides.Single().Title)
            </th>
            <th>
                @Html.DisplayNameFor(x => Model.Single().Slides.Single().ImageBytes)
            </th>
            <th>
                @Html.DisplayNameFor(x => Model.Single().Slides.Single().ShouldShowSlideInSlideshow)
            </th>
            <th>
                @Html.DisplayNameFor(x => Model.Single().Slides.Single().ShouldShowQuestionOnQuiz)
            </th>
            <th>
                @Html.DisplayNameFor(x => Model.Single().Slides.Single().ShouldShowImageOnQuiz)
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    @foreach (var category in Model)
    {
        foreach (var slide in category.Slides)
        {
            <tr>
                @if (slide == category.Slides.First())
                {
                    <td class="rowspan"
                        rowspan="@category.Slides.Count">
                        <h4>@Html.DisplayFor(model => category.Title)</h4>
                        <ul>
                            @foreach (var group in category.Groups)
                            {
                                <li>@group.Title</li>
                            }
                        </ul>
                        @Html.BootstrapActionLinkButton("Details", "Details", "Categories", category.Id, ContextualColor.Primary)
                        <br/>
                        @Html.BootstrapActionLinkButton("Reorder Slides", "Reorder", category.Id, ContextualColor.Primary)
                    </td>
                }
                <td>
                    @Html.DisplayFor(model => slide.Title)
                </td>
                <td>
                    @if (slide.ImageBytes != null)
                    {
                        <img src="@Url.Action("RenderImage", new
                                  {
                                      id = slide.Id
                                  })"
                             alt="@slide.ImageDescription"/>
                    }
                </td>
                <td>
                    @Html.DisplayFor(model => slide.ShouldShowSlideInSlideshow)
                </td>
                <td>
                    @Html.DisplayFor(model => slide.ShouldShowQuestionOnQuiz)
                </td>
                <td>
                    @Html.DisplayFor(model => slide.ShouldShowImageOnQuiz)
                </td>
                <td>
                    @Html.BootstrapActionLinkButton("Details", slide.Id, ContextualColor.Primary)
                </td>
                <td>
                    @Html.BootstrapActionLinkButton("Edit", slide.Id, ContextualColor.Primary)
                </td>
                <td>
                    @Html.BootstrapActionLinkButton("Preview", slide.Id, ContextualColor.Primary, TargetAttribute.Blank)
                </td>
                <td>
                    @Html.BootstrapActionLinkButton("Delete", slide.Id, ContextualColor.Danger)
                </td>
            </tr>
        }
    }
</table>