@model IList<MichaelBrandonMorris.KingsportMillSafetyTraining.Models.SlideViewModel>

@{
    ViewBag.Title = "Reorder";
    ViewBag.Subtitle = "Slides";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <p>
        You are reordering slides for category <strong>@Model.First().CategoryTitle</strong>.
    </p>
    <p class="bg-info">
        Click and drag the arrows to change order.
    </p>
    <table class="table table-condensed table-hover table-striped"
           id="sort">
        <tbody>
            @for (var i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-move handle"></span>
                        @Html.DisplayFor(x => Model[i].Title)
                        @Html.HiddenFor(model => Model[i].Id)
                        @Html.HiddenFor(model => Model[i].Index, new
                        {
                            name = string.Format("slides[{0}].Index", i), @readonly = true, @class = "index"
                        })
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <input class="btn btn-primary"
           type="submit"
           value="Save Order"/>
    @Html.ActionLink("Cancel", "Index", null, new
    {
        @class = "btn btn-danger"
    })
}

@section scripts
{
    <script>
        $(function() {
            $('#sort tbody').sortable({
                handle: ".handle",
                stop: function() {
                    $("#sort tbody tr").each(function(index, element) {
                        var hiddenInput = $(element).find(".index");
                        hiddenInput.val(index);
                    });
                }
            });
        });

        $('td, th', '#sort').each(function() {
            var cell = $(this);
            cell.width(cell.width());
        });
    </script>
}