@model IList<MichaelBrandonMorris.KingsportMillSafetyTraining.Models.Data.Slide>

@{
    ViewBag.Title = "Reorder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reorder</h2>
<h4>Slides</h4>
<hr/>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-hover table-striped"
                   id="sort">
                <thead>
                <tr>
                    <th>
                        Drag to Reorder
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Single().Title)
                    </th>
                </tr>
                </thead>
                <tbody>
                @for (var i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td class="index">
                            &#8597;
                            @Html.HiddenFor(model => Model[i].Id)
                            @Html.HiddenFor(model => Model[i].Index, new
                            {
                                htmlAttributes = new
                                {
                                    name = string.Format("slides[{0}].Index", i),
                                    @readonly = true
                                }
                            })
                        </td>
                        <td>
                            @Html.DisplayFor(x => Model[i].Title)
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <input class="btn btn-default"
                       type="submit"
                       value="Save Order"/>
                <button class="btn btn-default"
                        onclick="location.href = '@Url.Action("Index")';return false;">
                    Cancel
                </button>
            </div>
        </div>
    </div>
}

@section scripts
{
    <script>
        $(function() {
            $('#sort tbody').sortable({
                stop: function() {
                    $("#sort tbody tr").each(function(index, element) {
                        var hiddenInput = $(element).children(".index").children().last();
                        hiddenInput.val(index);
                    });
                }
            });
        });

        $('td, th', '#sort').each(function() {
            var cell = $(this);
            cell.width(cell.width());
        });
    </script>
}