@model MichaelBrandonMorris.KingsportMillSafetyTraining.Models.Data.ViewModels.SlideViewModel

@{
    Layout = Url.Content("~/Views/Shared/_Layout.cshtml");
}

<!DOCTYPE html>

<p class="bg-info">
    You are reviewing this slide. When you are done, press the button at the bottom of the page.
</p>
<h2>@Model.CategoryTitle</h2>
<h4>@Model.Title</h4>
<div class="row">
    <div class="col-md-6">
        <p>@Model.Content</p>
    </div>
    <div class="col-md-6">
        <img src="@Url.Action("RenderImage", new
                  {
                      id = Model.Id
                  })"
             alt="@Model.ImageDescription"/>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-default form-control"
                onclick="window.close();return false;">
            Close Slide
        </button>
    </div>
</div>