@model MichaelBrandonMorris.KingsportMillSafetyTraining.Db.Models.Group

@{
    ViewBag.Title = "Confirm Group";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Your current training type is:</p>

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Title)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Title)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Description)
    </dt>
    <dd>
        @Html.Raw(Model.Description)
    </dd>
</dl>

<p>Is this correct?</p>
<p class="bg-info">If you are unsure, press "No" to see the options.</p>

@Html.ActionLink("Yes", "Train", null, new
{
    @class = "btn btn-primary"
})

@Html.ActionLink("No", "SelectRole", null, new
{
    @class = "btn btn-danger"
})

