@model MichaelBrandonMorris.KingsportMillSafetyTraining.Models.TrainingResultViewModel

@{
    ViewBag.Title = "Details";
    ViewBag.Subtitle = "Training Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.FirstName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.FirstName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.LastName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.LastName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.CompanyName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.CompanyName)
    </dd>
    
    <dt>
        @Html.DisplayNameFor(model => model.Email)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Email)
    </dd>
    
    <dt>
        @Html.DisplayNameFor(model => model.PhoneNumber)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PhoneNumber)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.GroupTitle)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.GroupTitle)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.CompletionDateTime)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.CompletionDateTime)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.TimeToCompleteString)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.TimeToCompleteString)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.QuizAttemptsCount)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.QuizAttemptsCount)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.QuizResults)
    </dt>

    <dd>
        @Html.MvcGrid("QuizResultsGrid", new
        {
            id = Model.Id
        })
    </dd>
</dl>

<div class="row">
    <div class="col-md-6">
        @if (User.IsInRole("Administrator"))
        {
            @Html.ActionLink("View All User's Results", "UserResults", new
            {
                id = Model.UserId
            }, new
            {
                @class = "btn btn-primary"
            })       
        }
        else
        {
            @Html.ActionLink("View All Your Results", "UserResults", new
            {
                id = Model.UserId
            }, new
            {
                @class = "btn btn-primary"
            })
        }
    </div>

    @if (User.IsInRole("Administrator"))
    {
        <div class="col-md-6 text-right">
            @Html.ActionLink("View All Results", "Index", null, new
            {
                @class = "btn btn-primary"
            })
            @Html.ActionLink("View All Users", "Index", "Users", null, new
            {
                @class = "btn btn-primary"
            })
        </div>  
    }
</div>