@using MichaelBrandonMorris.Extensions.Web.HtmlHelper.Bootstrap.Display.Horizontal
@using MichaelBrandonMorris.KingsportMillSafetyTraining.Views
@model MichaelBrandonMorris.KingsportMillSafetyTraining.Models.TrainingResultViewModel

@{
    ViewBag.Title = "Details";
    ViewBag.Subtitle = "Training Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.BootstrapHorizontalDefinitionListFor(
    model => model.FirstName,
    model => model.LastName,
    model => model.CompanyName,
    model => model.Email,
    model => model.PhoneNumber,
    model => model.GroupTitle,
    model => model.CompletionDateTimeString,
    model => model.TimeToCompleteString)

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.QuizResults)
    </dt>

    <dd>
        @Html.MvcGrid("QuizResultsGrid", new
        {
            id = Model.Id
        })
    </dd>
</dl>

<div class="row">
    <div class="col-md-6">
        @if (User.IsOwnTrainingResult(Model.Id))
        {
            @Html.ActionLink("View All Your Results", "UserResults", new
            {
                id = Model.UserId
            }, new
            {
                @class = "btn btn-primary"
            })
        }
        else
        {
            @Html.ActionLink("View All User's Results", "UserResults", new
            {
                id = Model.UserId
            }, new
            {
                @class = "btn btn-primary"
            })
        }
    </div>

    @if (User.IsInRole("Owner")
         || User.IsInRole("Administrator")
         || User.IsInRole("Security")
         || User.IsInRole("Supervisor"))
    {
        <div class="col-md-6 text-right">
            @Html.ActionLink("View All Results", "Index", null, new
            {
                @class = "btn btn-primary"
            })
            @Html.ActionLink("View All Users", "Index", "Users", null, new
            {
                @class = "btn btn-primary"
            })
        </div>
    }
</div>