@model MichaelBrandonMorris.KingsportMillSafetyTraining.Models.GroupViewModel

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.Raw(Model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question)
        </dt>

        <dd>
            @Html.Raw(Model.Question)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categories)
        </dt>

        <dd>
            @Html.Grid(Model.Categories).Build(columns =>
              {
                  columns.Add(model => model.Index).Titled("Index").InitialSort(GridSortOrder.Asc);
                  columns.Add(model => model.Name).Titled("Name");
                  columns.Add(model => model.DisplayName).Titled("Display Name");
                  columns.Add(model => model.Slides.Count).Titled("Number of Slides");
                  columns.Add(model => model.Groups.Count).Titled("Number of Groups");
                  columns.Add(model => string.Format(@"<a href=""{0}"" class=""btn btn-primary"">Details</a>", Url.Action("Details", "Categories", new
                  {
                      id = model.Id
                  }))).Encoded(false);
                  columns.Add(model => string.Format(@"<a href=""{0}"" class=""btn btn-primary"">Edit</a>", Url.Action("Edit", "Categories", new
                  {
                      id = model.Id
                  }))).Encoded(false);
                  columns.Add(model => string.Format(@"<a href=""{0}"" class=""btn btn-primary"">Assign Groups</a>", Url.Action("AssignGroups", "Categories", new
                  {
                      id = model.Id
                  }))).Encoded(false);
                  columns.Add(model => string.Format(@"<a href=""{0}"" class=""btn btn-danger"">Delete</a>", Url.Action("Delete", "Categories", new
                  {
                      id = model.Id
                  }))).Encoded(false);
              }).Filterable().Sortable()
        </dd>
    </dl>
</div>